/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Font Faces */
  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Light.otf') format('opentype');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-LightItalic.otf') format('opentype');
    font-weight: 300;
    font-style: italic;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-MediumItalic.otf') format('opentype');
    font-weight: 500;
    font-style: italic;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-Black.otf') format('opentype');
    font-weight: 900;
    font-style: normal;
  }

  @font-face {
    font-family: 'Satoshi';
    src: url('/fonts/Satoshi-BlackItalic.otf') format('opentype');
    font-weight: 900;
    font-style: italic;
  }

  /* Global Styles */
  body {
    @apply font-sans;
  }

  /* Frosted Glass Effect */
  .frosted-glass {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.1);
    border: 1.2px solid white;
  }

  .frosted-glass-cards {
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    background: rgba(255, 255, 255, 0.212);
    border: 1.2px solid rgba(255, 254, 254, 0.349);
  }
}